<h1>Edit Veterinarian</h1>

<%= render "form", veterinarian: @veterinarian %>

<br>

<div>
  <%= link_to "Show this veterinarian", @veterinarian %> |
  <%= link_to "Back to Veterinarians", veterinarians_path %>
</div>
